<div>
    <ng-container  *ngIf="field == 'search'">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i> 
            <input pInputText
            type="text"
            [(ngModel)]="searchKeyword"
            placeholder="Search Keyword"
            (input)="onSearch()"
            class="w-full" />
        </span>
    </ng-container>

    <ng-container *ngIf="filterType === 'tag'">
        <p-dropdown styleClass="ml-2"
            [options]="filterOptions"
            (onChange)="onFilterChange()"
            [(ngModel)]="filterValue"
            placeholder="Select {{ field }}">
        </p-dropdown> 
    </ng-container>

    <ng-container *ngIf="filterType === 'custom'">
        <p-autoComplete
          styleClass="ml-2"
          [(ngModel)]="filterValue"
          [suggestions]="filteredItems"
          (completeMethod)="filterItems($event)"
          (onSelect)="onAutoCompleteItemSelect($event)"
          optionLabel="label"
          [dropdown]="true" />
    </ng-container>
</div>
