<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title></title>
    <!--[if (mso 16)]>
    <style type="text/css">
    a {text-decoration: none;}
    </style>
    <![endif]-->
    <!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]-->
    <!--[if gte mso 9]>
<noscript>
         <xml>
           <o:OfficeDocumentSettings>
           <o:AllowPNG></o:AllowPNG>
           <o:PixelsPerInch>96</o:PixelsPerInch>
           </o:OfficeDocumentSettings>
         </xml>
      </noscript>
<![endif]-->
    <!--[if !mso] -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <!--<![endif]-->
    <!--[if mso]><xml>
    <w:WordDocument xmlns:w="urn:schemas-microsoft-com:office:word">
      <w:DontUseAdvancedTypographyReadingMail/>
    </w:WordDocument>
    </xml><![endif]-->
  </head>
  <body class="body">
    <div dir="ltr" class="es-wrapper-color">
      <!--[if gte mso 9]>
			<v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
				<v:fill type="tile" color="#091520"></v:fill>
			</v:background>
		<![endif]-->
      <table width="100%" cellspacing="0" cellpadding="0" class="es-wrapper">
        <tbody>
          <tr>
            <td valign="top" class="esd-email-paddings">
              <table cellpadding="0" cellspacing="0" center class="esd-header-popover es-header">
                <tbody>
                  <tr>
                    <td center class="esd-stripe">
                      <table style="background-color: #ffffff" center cellpadding="0" cellspacing="0" width="600" class="es-header-body">
                        <tbody>
                          <tr>
                            <td left class="esd-structure es-p20">
                              <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                  <tr>
                                    <td width="560" valign="top" center class="es-m-p0r esd-container-frame">
                                      <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                          <tr>
                                            <td center class="esd-block-image es-m-txt-c" style="font-size:0px">
                                              <a target="_blank" href="https://viewstripo.email">
                                                <img src="https://tlr.stripocdn.email/content/guids/CABINET_b581c9945fe2e4514a94e313baf823d7/images/group_202.png" alt="Logo" title="Logo" height="40" style="display:block">
                                              </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table cellpadding="0" cellspacing="0" center class="es-content">
                <tbody>
                  <tr>
                    <td center class="esd-stripe">
                      <table style="background-color: #ffffff" center cellpadding="0" cellspacing="0" width="600" class="es-content-body" style="border-radius:50px 50px 0 0">
                        <tbody>
                          <tr>
                            <td left class="esd-structure">
                              <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                  <tr>
                                    <td width="600" center valign="top" class="esd-container-frame">
                                      <table cellpadding="0" cellspacing="0" width="100%" style="background-color: #b2222d" style="border-radius:49px 49px 0 0;border-collapse:separate;background-color:#b2222d">
                                        <tbody>
                                          <tr>
                                            <td center="" class="esd-block-image" style="font-size:0px">
                                              <a target="_blank" href="https://viewstripo.email">
                                                <img src="https://tlr.stripocdn.email/content/guids/CABINET_912acaa034d25a033df42b9a6cfc02d58777ac01f659c34a2b6d2145e7ce0df5/images/10696823_19187581converted.png" alt="Merry Christmas" width="350" title="Merry Christmas" class="adapt-img" style="display:block;border-radius:49px 49px 0px 0px">
                                              </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td left class="esd-structure">
                              <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                  <tr>
                                    <td width="600" center valign="top" class="esd-container-frame">
                                      <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                          <tr>
                                            <td center class="esd-block-text es-p20t es-m-p20r es-m-p20l">
                                              <h1>
                                                <strong>Brighten up your Diwali</strong>
                                              </h1>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td center class="esd-block-text es-p20t es-p10b es-m-p20r es-m-p20l es-p90l es-p90r" style="font-family:arial">
                                              Congratulations on the festive season of Diwali! To make your celebration even more special, we're bringing you exclusive deals on our latest and most popular gadgets
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td left class="esd-structure es-p30t es-p30b es-p20r es-p20l">
                              <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                  <tr>
                                    <td width="560" center valign="top" class="esd-container-frame">
                                      <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                          <tr>
                                            <td center class="esd-block-button">
                                              <!--[if mso]><a href="https://viewstripo.email" target="_blank" hidden>
	<v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" esdevVmlButton href="https://viewstripo.email" 
                style="height:51px; v-text-anchor:middle; width:180px" arcsize="0%" stroke="f"  fillcolor="#b2222d">
		<w:anchorlock></w:anchorlock>
		<center style='color:#ffffff; font-family:arial, "helvetica neue", helvetica, sans-serif; font-size:18px; font-weight:400; line-height:18px;  mso-text-raise:1px'>SHOP NOW</center>
	</v:roundrect></a>
<![endif]-->
                                              <!--[if !mso]><!-- -->
                                              <span class="es-button-border" style="background:#fb5607">
                                                <a href="https://viewstripo.email" target="_blank" class="es-button es-button-1665060087841" style="padding:15px 40px;color:#ffffff">
                                                  SHOP NOW
                                                </a>
                                              </span>
                                              <!--<![endif]-->
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table cellpadding="0" cellspacing="0" center class="es-footer">
                <tbody>
                  <tr>
                    <td center class="esd-stripe">
                      <table style="background-color: #ffffff" center cellpadding="0" cellspacing="0" width="600" class="es-footer-body">
                        <tbody>
                          <tr>
                            <td left class="esd-structure es-p20t es-p10b es-p20r es-p20l">
                              <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                  <tr>
                                    <td width="560" center valign="top" class="esd-container-frame">
                                      <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                          <tr>
                                            <td center class="esd-block-text">
                                              <h1>
                                                Shop with confidence
                                              </h1>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td left class="esd-structure es-p20">
                              <!--[if mso]><table width="560" cellpadding="0" cellspacing="0"><tr><td width="200" valign="top"><![endif]-->
                              <table cellpadding="0" cellspacing="0" left class="es-left">
                                <tbody>
                                  <tr>
                                    <td width="160" left class="es-m-p20b esd-container-frame">
                                      <table cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff" style="border-radius:40px;border-collapse:separate;background-color:#ffffff">
                                        <tbody>
                                          <tr>
                                            <td center class="esd-block-image es-p10t" style="font-size:0px">
                                              <a target="_blank" href="https://viewstripo.email">
                                                <img src="https://tlr.stripocdn.email/content/guids/CABINET_b581c9945fe2e4514a94e313baf823d7/images/sticker.png" alt="" width="40" class="b_image" style="display:block">
                                              </a>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td center class="esd-block-text es-p10t es-p10b es-p20r es-p20l">
                                              <h3 class="b_title">
                                                1-YEAR WARRANTY
                                              </h3>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td width="40" class="es-hidden"></td>
                                  </tr>
                                </tbody>
                              </table>
                              <!--[if mso]></td><td width="160" valign="top"><![endif]-->
                              <table cellpadding="0" cellspacing="0" left class="es-left">
                                <tbody>
                                  <tr>
                                    <td width="160" left class="es-m-p20b esd-container-frame">
                                      <table cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff" style="border-radius:40px;border-collapse:separate;background-color:#ffffff">
                                        <tbody>
                                          <tr>
                                            <td center class="esd-block-image es-p10t" style="font-size:0px">
                                              <a target="_blank" href="https://viewstripo.email">
                                                <img src="https://tlr.stripocdn.email/content/guids/CABINET_b581c9945fe2e4514a94e313baf823d7/images/truck.png" alt="" width="40" class="b_image" style="display:block">
                                              </a>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td center class="esd-block-text es-p10t es-p10b es-p20r es-p20l">
                                              <h3 class="b_title">
                                                FREE SHIPPING
                                              </h3>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <!--[if mso]></td><td width="40"></td><td width="160" valign="top"><![endif]-->
                              <table cellpadding="0" cellspacing="0" align="right" class="es-right">
                                <tbody>
                                  <tr>
                                    <td width="160" left class="esd-container-frame">
                                      <table cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff" style="border-radius:40px;border-collapse:separate;background-color:#ffffff">
                                        <tbody>
                                          <tr>
                                            <td center class="esd-block-image es-p10t" style="font-size:0px">
                                              <a target="_blank" href="https://viewstripo.email">
                                                <img src="https://tlr.stripocdn.email/content/guids/CABINET_b581c9945fe2e4514a94e313baf823d7/images/package.png" alt="" width="40" class="b_image" style="display:block">
                                              </a>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td center class="esd-block-text es-p10t es-p10b es-p20r es-p20l">
                                              <h3 class="b_title">
                                                30-DAY RETURNS
                                              </h3>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <!--[if mso]></td></tr></table><![endif]-->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table cellpadding="0" cellspacing="0" center class="es-footer">
                <tbody>
                  <tr>
                    <td center class="esd-stripe">
                      <table style="background-color: #ffffff" center cellpadding="0" cellspacing="0" width="600" class="es-footer-body" style="border-radius:0 0 50px 50px">
                        <tbody>
                          <tr>
                            <td left class="esd-structure es-p20">
                              <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                  <tr>
                                    <td width="560" center valign="top" class="esd-container-frame">
                                      <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                          <tr>
                                            <td center class="esd-block-spacer es-p20" style="font-size:0">
                                              <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                  <tr>
                                                    <td style="border-bottom:3px solid #ffbe0b;background:unset;height:1px;width:100%;margin:0px"></td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td center class="esd-block-text">
                                              <p>
                                                You are receiving this email because you signed up for <b>TECH</b>. Cheers!🍷
                                              </p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td center class="esd-block-text es-p15t es-p15b">
                                              <p>
                                                5502 Red Branch Diversion, Nipinnawasee, Alaska
                                              </p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td center class="esd-block-spacer es-p20" style="font-size:0">
                                              <table border="0" width="60%" height="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                  <tr>
                                                    <td style="border-bottom:1px solid #ffbe0b;background:unset;height:1px;width:100%;margin:0px"></td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td center esd-links-color="#081D36" class="esd-block-text">
                                              <p>
                                                😭&nbsp;<a href="https://viewstripo.email" target="_blank" style="color:#081d36">Unsubscribe</a>
                                              </p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td center class="esd-block-spacer es-p15t es-p15b es-p20r es-p20l" style="font-size:0">
                                              <table border="0" width="60%" height="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                  <tr>
                                                    <td style="border-bottom:1px solid #ffbe0b;background:unset;height:1px;width:100%;margin:0px"></td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td center class="esd-block-text">
                                              <p>
                                                💻&nbsp;<a href="https://viewstripo.email" target="_blank">View code</a>
                                              </p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td center class="esd-block-spacer es-p15t es-p15b es-p20r es-p20l" style="font-size:0">
                                              <table border="0" width="60%" height="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                  <tr>
                                                    <td style="border-bottom:1px solid #ffbe0b;background:unset;height:1px;width:100%;margin:0px"></td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td center class="esd-block-text">
                                              <p>
                                                🌎&nbsp;<a href="https://viewstripo.email" target="_blank">View online</a>
                                              </p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td center class="esd-block-spacer es-p15t es-p15b es-p20r es-p20l" style="font-size:0">
                                              <table border="0" width="60%" height="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                  <tr>
                                                    <td style="border-bottom:1px solid #ffbe0b;background:unset;height:1px;width:100%;margin:0px"></td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table cellpadding="0" cellspacing="0" center class="esd-footer-popover es-content">
                <tbody>
                  <tr>
                    <td center class="esd-stripe">
                      <table center cellpadding="0" cellspacing="0" width="600" style="background-color: #ffffff" class="es-content-body" style="background-color:transparent">
                        <tbody>
                          <tr>
                            <td left class="esd-structure es-p30t es-p30b es-p20r es-p20l">
                              <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                  <tr>
                                    <td width="560" left class="esd-container-frame">
                                      <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                          <tr>
                                            <td center class="esd-block-image es-infoblock made_with" style="font-size:0">
                                              <a target="_blank" href="https://viewstripo.email/?utm_source=templates&utm_medium=email&utm_campaign=gadgets_11&utm_content=festival_of_lights">
                                                <img src="https://tlr.stripocdn.email/content/guids/CABINET_09023af45624943febfa123c229a060b/images/7911561025989373.png" alt="" width="125" style="display:block">
                                              </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>