DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=your_db_user
DATABASE_PASSWORD=your_db_password
DATABASE_NAME=erp_db
JWT_SECRET=your_jwt_secret

STORAGE_TYPE=s3 # Options: 's3', 'minio', 'file'
STORAGE_BUCKET=your-bucket-name
STORAGE_REGION=your-region
STORAGE_ACCESS_KEY_ID=your-access-key
STORAGE_SECRET_ACCESS_KEY=your-secret-key
STORAGE_URL="http://localhost:9000"
FILE_STORAGE_PATH=./uploads


REDIS_HOST=your-redis-host
REDIS_PORT=your-redis-port

TWILIO_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=+

EMAIL_USER=
EMAIL_PASS=

WHATSAPP_CLOUD_API_WEBHOOK_VERIFICATION_TOKEN=
WHATSAPP_CLOUD_API_VERSION=
WHATSAPP_CLOUD_API_PHONE_NUMBER_ID=

BATCH_SIZE_LIMIT=