.right-sidebar {
    display: flex;
    flex-direction: column;
    gap: 12px; /* Adds space between panels */
}
h3,h6 {
    margin-bottom: 0.1rem !important;
}
.header-items
{
    display: flex;
    align-items: center; /* Aligns all items to the bottom */
}

.activity-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.activity-card {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.activity-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    color: #555;
    padding: 1rem;
}

.activity-header .left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.activity-header .right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.activity-type {
    font-weight: bold;
}

.activity-date {
    font-size: 12px;
    color: gray;
}

.activity-content {
    font-size: 14px;
    color: #333;
}

.p-card {
    padding: 10px;
}

::ng-deep .p-card-content{
    padding: 0px !important;
}