<div class="grid">
    <div class="col-12">
        <app-crud *ngIf="contacts.length" [displayName]="'Contacts'" [data]="contacts" [options]="crudOptions"
             [fieldOptions]="fieldOptions" (onAction)="onAction($event)" (onFilterChange)="onFilterChange($event)"
             (onBulkImport)="getBulkImport($event)">
            <ng-template #filterTemplate  let-onFilterChange="onFilterChange">
                <p-dropdown styleClass="ml-2"
                    [(ngModel)]="selectedUser"
                    [options]="adminList"
                    placeholder="Select user name"
                    (onChange)="onFilterChange('firstName', 'text', $event.value)">
                </p-dropdown>
            </ng-template>
        </app-crud>
    </div>
</div>