<div class="card">

  <!-- Top sectoins with actions -->
  <div class="surface-section mb-3">
    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
      <div>
        <div class="font-medium text-3xl text-900">{{displayName}}</div>
        <div class="flex align-items-center text-700 flex-wrap">
          <div class="mr-5 flex align-items-center mt-3">
            <i class="pi pi-users mr-2"></i>
            <span>332 Active</span>
          </div>
          <div class="mr-5 flex align-items-center mt-3">
            <i class="pi pi-globe mr-2"></i>
            <span>9402 Sessions</span>
          </div>
          <div class="flex align-items-center mt-3">
            <i class="pi pi-clock mr-2"></i>
            <span>2.32m Avg. Duration</span>
          </div>
        </div>
      </div>
      <div class="mt-3 gap-2 lg:mt-0">
        <button pButton pRipple label="New" class="p-button" (click)="openDialog(false)" icon="pi pi-plus"></button>
        <button pButton class="p-button-outlined ml-2" icon="fa fa-table-cells" (click)="gridView = true">
        </button>
        <button class="p-element p-button-outlined ml-2 p-button p-component p-button-icon-only"
          (click)="gridView = false">
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M6 4C3.79086 4 2 5.79086 2 8V16C2 18.2091 3.79086 20 6 20H18C20.2091 20 22 18.2091 22 16V8C22 5.79086 20.2091 4 18 4H6ZM14 6H10V18H14V6ZM16 6V18H18C19.1046 18 20 17.1046 20 16V8C20 6.89543 19.1046 6 18 6H16ZM6 18H8V6H6C4.89543 6 4 6.89543 4 8V16C4 17.1046 4.89543 18 6 18Z"
              fill="currentColor" />
          </svg>
        </button>
        <p-button (onClick)="moreActions.toggle($event)" [outlined]="true" class="ml-2"
          icon="pi pi-ellipsis-v"></p-button>
      </div>
    </div>
  </div>
  <p-tieredMenu #moreActions [model]="moreActionItems" [popup]="true" />
  <p-tabMenu [scrollable]="true" [model]="tabMenuItems" [(activeItem)]="activeItem"></p-tabMenu>

  <!-- Toolbar with filters and bulk operations -->
  <p-toolbar>
    <div class="flex flex-column sm:flex-row">
      <app-filter
          field="search"
          (filterChange)="onFilterChangeEvent($event)"
        />
      <div *ngFor="let field of filteredFields">
        <app-filter *ngIf="field.type == 'tag' &&  field.filter"
          [field]="field.field"
          [filterType]="field.type"
          [filterOptions]="field.options"
          (filterChange)="onFilterChangeEvent($event)"
        />
        <app-filter *ngIf="field.type == 'custom' &&  field.filter"
          [field]="field.field"
          [filterType]="field.type"
          [filterOptions]="contactsList"
          (filterChange)="onFilterChangeEvent($event)"
        />
      </div>

      <div *ngIf="moreFilters.length > 0" class="ml-2">
        <p-multiSelect [options]="moreFilters" [(ngModel)]="selectedFilters" (onChange)="selectFilter()" optionLabel="label" display="chip" placeholder="More Filters">
        </p-multiSelect>
      </div>
      <button pButton class="p-button-outlined mb-2 ml-2" label="Save" (click)="saveFilter()" icon="pi pi-save"></button>
      <button pButton class="p-button-outlined mb-2 ml-2" icon="pi pi-filter-slash" (click)="resetFilter()"></button>
      <button *ngIf="isDeleteButtonVisible" pButton pRipple icon="pi pi-check" class="p-button-outlined mb-2 ml-2" label="Delete" (click)="onDelete()"></button>
    </div>
  </p-toolbar>
  
  <!-- <p-tabView>
    <p-tabPanel header="All"> -->
  <!-- Data Table for Displaying Items -->

  <crud-grid  *ngIf="gridView" [data]="data" [fields]="options.fields" (selectionChange)="onSelectionChange($event)" (tableHeaders)="onTableHeadersReceived($event)" (openDialog)="openDialogEvent($event)" (requestDelete)="confirmDelete($event)"></crud-grid>
  <crud-board *ngIf="!gridView" [data]="data" [fields]="options.fields"></crud-board>
  <!-- </p-tabPanel>
  </p-tabView> -->

  <!-- Dialog for Add/Edit -->
  <p-dialog [(visible)]="isDialogVisible" header="Product Details" class="p-fluid" [draggable]="false"
        [style]="{'width': '50rem'}" >
    <ng-template pTemplate="content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="field" *ngFor="let field of fields">
          <div>  
          <label for="{{field.field}}">{{ field.label }}</label>
          <input *ngIf="field.type === 'number'" type="number" formControlName="{{ field.field }}" pInputText />
          <input *ngIf="field.type === 'text'" formControlName="{{ field.field }}" pInputText [class.ng-dirty]="form.get(field.field).touched && form.get(field.field).invalid"/>
          <p-dropdown *ngIf="field.type === 'select'" formControlName="{{ field.field }}" [options]="field.options" optionLabel="label" optionValue="value" [class.ng-dirty]="form.get(field.field).touched && form.get(field.field).invalid"></p-dropdown>
          <p-dropdown *ngIf="field.type === 'tag'" formControlName="{{ field.field }}" [options]="field.options" optionLabel="label" optionValue="value" [class.ng-dirty]="form.get(field.field).touched && form.get(field.field).invalid"></p-dropdown>
          <p-calendar *ngIf="field.type === 'date'" formControlName="{{ field.field }}" [class.ng-dirty]="form.get(field.field).touched && form.get(field.field).invalid"></p-calendar>
          <div *ngIf="form.get(field.field).touched && form.get(field.field).invalid">
            <small *ngIf="form.get(field.field).hasError('required')" class="p-error">{{field.field}} is required.</small>
            <small *ngIf="form.get(field.field).hasError('minlength')" class="p-error">
              Minimum length is {{ field.minLength }} characters.
            </small>
            <small *ngIf="form.get(field.field).hasError('email')" class="p-error">{{field.field}} is Invalid.</small>
            <small *ngIf="form.get(field.field).hasError('maxlength')" class="p-error">
              Maximum length is {{ field.maxLength }} characters.
            </small>
            <small *ngIf="form.get(field.field).hasError('pattern')" class="p-error">
              Invalid format.
            </small>
          </div>
        </div>
        </div>
        <div class="col-6 flex gap-2 p-0">
        <p-button *ngIf="isEditing === false" pRipple label="Save" icon="pi pi-check" type="submit"></p-button>
        <p-button *ngIf="isEditing === true" pRipple label="Update" icon="pi pi-check" type="submit"></p-button>
        <p-button pRipple label="Cancel" icon="pi pi-times" [outlined]="true"  (click)="resetForm()"></p-button>
        </div>
      </form>
    </ng-template>
</p-dialog>


  <!-- Confirm delete dialog -->
  <p-dialog [(visible)]="confirmDeleteDialog" [draggable]="false" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span>{{"Are you sure you want to delete?"}}</span>
    </div>
    <ng-template pTemplate="footer">
      <p-button pRipple icon="pi pi-times" label="No"
        (click)="confirmDeleteDialog = false"></p-button>
      <p-button pRipple icon="pi pi-check" label="Yes" (click)="confirmDelete()"></p-button>
    </ng-template>
  </p-dialog>

  <p-dialog header="Save Filter" [(visible)]="showFilterDialog" [modal]="true" [draggable]="false" [style]="{width:'450px'}">
    <div class="p-fluid">
      <p-panel>
       <div class="mb-2">
         <input  pInputText [(ngModel)]="newFilterName" placeholder="Enter Filter Name" class="w-full"/>
       </div>
      </p-panel>
       <!-- Add New Filter Button -->
      <div class="flex flex-column mt-2 col-6">
        <p-button pRipple label="Create Filter" (click)="onCreateCustomFilter()"></p-button>
      </div>
    </div>
  </p-dialog>
  
</div>