<p-dialog [(visible)]="isDialogVisible" [modal]="true" header="Import" class="p-fluid" [draggable]="false"
    [closable]="true" [style]="{'width': '50rem'}" (onHide)="resetForm()" [maximizable]="true">
    <ng-template pTemplate="content">
        <div class="card">
            <p-steps 
                [activeIndex]="activeIndex"
                [model]="items"
                [readonly]="false" 
                (activeIndexChange)="onActiveIndexChange($event)" />
        </div>
        <p-fileUpload
         *ngIf="activeIndex == 0"
         #fileUploader
         name="file"
         chooseIcon="pi pi-upload" 
         url="https://www.primefaces.org/cdn/api/upload.php" 
         accept=".xlsx,.xls" maxFileSize="5000000" 
         (onUpload)="onDocumentUpload($event)" 
         [auto]="true"
         chooseLabel="Upload">
            <ng-template let-file pTemplate="file">
                <div>
                    <span class="text-overflow-ellipse">{{ file.name }}</span>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div
                  *ngFor="let file of files"
                >
                  <span class="text-overflow-ellipse">{{ file.fileName ? file.fileName : file.name }}</span>
                </div>
            </ng-template>
        </p-fileUpload>
        <div *ngIf="uploadedHeaders.length > 0 && activeIndex == 1" class="mb-3">
            <form [formGroup]="mappingForm">
                <div class="card" formArrayName="mappings">
                    <h3>Map the uploaded headers to the default fields:</h3>
                    <div *ngFor="let mapping of mappingForm.get('mappings').controls; let i = index" [formGroupName]="i">
                        <div class="field grid">
                            <label class="col-12 mb-2 md:col-2 md:mb-0">{{ fields[i].label }} {{fields[i]?.required ? "*" : ''}}</label>
                            <div class="col-12 md:col-10">
                                <p-dropdown
                                formControlName="mappedField"
                                [options]="crudOptions.fields"
                                optionLabel="label"
                                optionValue="field">
                                </p-dropdown>
                                <div class="text-red-500" *ngIf="mapping.get('mappedField')?.hasError('required')">
                                    {{ fields[i].label }} is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <p-table *ngIf="showGrid && activeIndex == 2" [value]="showTableData" [rows]="10" [rowHover]="true" [scrollable]="true" styleClass="table-compact" [paginator]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width:150px" *ngFor="let field of fields" [pSortableColumn]="field.name">
                        <div class="flex justify-content-between align-items-center">
                            {{ field.label }}
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td *ngFor="let field of fields" [ngClass]="{'bg-red-500': (!item[field.field] && field.required)}">
                        <ng-container>{{ item[field.field] }}</ng-container>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button *ngIf="activeIndex != 0" styleClass="mt-4 text-end w-auto mr-2" pRipple label="Prev" icon="pi pi-angle-left" (click)="navigateBack()"/>
      <p-button styleClass="mt-4 text-end w-auto" pRipple label="{{ activeIndex == 2 ? 'Save' : 'Next'}}" icon="pi pi-angle-right" [disabled]="isSaveDisabled()" (click)="navigateForward()"/>
    </ng-template>
</p-dialog>